<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5 d-flex flex-column align-content-center">
        <div class="col-md-6 border rounded">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <h2>Register</h2>
                </div>
                <div class="col-md-12">
                    <form [formGroup]="signupForm">
                        <div class="form-group custom-form-group">
                            <i class="fa fa-user inline-icon"></i>
                            <input type="text" class="form-control" formControlName="name" placeholder="name">
                            <p class="text-danger" *ngIf="signupForm.controls['name'].invalid && ( signupForm.controls['name'].dirty ||
                            signupForm.controls['name'].touched)">
                                Please enter valid name</p>
                        </div>
                        <div class="form-group custom-form-group">
                            <i class="fa fa-user inline-icon"></i>
                            <input type="text" class="form-control" formControlName="email" placeholder="email">
                            <p class="text-danger" *ngIf="signupForm.controls['email'].invalid && ( signupForm.controls['email'].dirty ||
                            signupForm.controls['email'].touched)">
                                Please enter valid email</p>
                        </div>
                        <div class="form-group custom-form-group">
                            <i class="fa fa-user inline-icon"></i>
                            <input type="text" class="form-control" formControlName="age" placeholder="age">
                            <p class="text-danger" *ngIf="signupForm.controls['age'].invalid && ( signupForm.controls['age'].dirty ||
                            signupForm.controls['age'].touched)">
                                Please enter valid age</p>
                        </div>
                        <div class="d-flex">
                            <span class="mx-2" *ngFor="let item of genders;" class="form-group custom-form-group">
                                <input type="radio" formControlName="gender" [id]="item.value" [value]="item.value">
                                <label class="pointer mx-1" [for]="item.value">{{item.label}}</label>
                            </span>
                        </div>
                        <div class="d-flex">
                            <span class="mx-2" *ngFor="let item of roles;" class="form-group custom-form-group">
                                <input type="radio" formControlName="role" [id]="item.value" [value]="item.value">
                                <label class="pointer mx-1" [for]="item.value">{{item.label}}</label>
                            </span>
                        </div>
                        <div class="form-group custom-form-group">
                            <i class="fa fa-user inline-icon"></i>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="password">
                            <p class="text-danger" *ngIf="signupForm.controls['password'].invalid && ( signupForm.controls['password'].dirty ||
                            signupForm.controls['password'].touched)">
                                Please enter valid password</p>
                        </div>
                        <div class="d-flex justify-content-end my-2">
                            <button class="btn btn-primary btn-sm" [disabled]="!signupForm.valid" (click)="onSignup()">
                                Signup
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a routerLink="../login" class="primary-bg pointer">go to login</a>
        </div>
    </div>
</div>