<!-- Just an image -->
<nav class="navbar navbar-light bg-info">
    <a class="navbar-brand text-white">
        Survey App
    </a>
    <span class="text-white">
        Hello,
        <span class="text-warning">
            {{profileDetails['name']}}
        </span>
        <span>
            ({{profileDetails['role']}})
        </span>

        <button class="btn btn-sm btn-primary" (click)="onLogout()">
            Logout
        </button>
    </span>
</nav>