<app-header></app-header>

<div class="container-fluid mt-5">
    <div class="row" *ngIf="profileDetails && profileDetails['role'] === 'coordinator' ">
        <div class="col-md-12">
            <div class="col-md-12 d-flex justify-content-end mb-1">
                <button class="btn btn-sm btn-primary" (click)="openModal(template)">
                    Create new survey
                </button>
            </div>
            <div class="card" *ngFor="let item of allSurveys">
                <div class="card-header d-flex justify-content-between">
                    <span class="text-primary font-bold font-22">
                        {{item.surveyName}}
                    </span>
                    <span class="text-info">
                    </span>
                </div>
                <div class="card-body">
                    <label class="card-title">
                        Gender
                        <span class="badge badge-warning">
                            {{item.gender | titlecase}}
                        </span>
                        Age range
                        <span class="badge badge-warning">
                            {{item.ageGroup.split(',')[0]}} - {{item.ageGroup.split(',')[1]}}
                        </span>
                        <span class="badge ml-2"
                            [ngClass]="getDate(item.expiry) !== 'Expired' ? 'badge-success' : 'badge-danger'">
                            {{getDate(item.expiry)}}
                            <!-- {{ |  : 'dd MMM yyyy'}} -->
                        </span>

                    </label>

                    <div class="border-top">
                        <div class="d-flex" *ngFor="let question of item['questions'];let i=index">
                            Q{{i+1}}. {{question.question}}
                            <span class="badge mx-1"
                                *ngIf="question.options &&question.options !== null && question.options.length > 0 && question.type !== 'text'">
                                <ng-container *ngFor="let option of question.options.split('|')">
                                    <span class="badge badge-success mx-1"> {{option}} </span>
                                </ng-container>
                            </span>
                            <span class="ml-4">
                                Type: {{question.type}}
                            </span>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>


    <div class="row" *ngIf="profileDetails && profileDetails['role'] === 'respondent'">
        <div class="col-md-12" *ngIf="allSurveysRespondent && allSurveysRespondent.length > 0;else noData">
            <div class="card" *ngFor="let item of allSurveysRespondent">
                <div class="card-header">
                    <span>
                        {{item['survey'].surveyName}}
                    </span>
                    <span *ngIf="item.hasResponded" class="mx-2 badge badge-success">
                        Submitted
                    </span>

                </div>

                <div class="card-body">
                    <div *ngFor="let question of getItem(item['survey']['questions']); let i = index">
                        <div class="bd-light">
                            Q{{i + 1}}. {{question.question}}
                        </div>
                        <div class="form-group">
                            <div *ngIf="question.type === 'text'">
                                <input class="form-control" type="text" placeholder="start typing your answer here"
                                    [(ngModel)]="question.answer">
                            </div>
                            <div *ngIf="question.type === 'checkbox'">
                                <div class="d-flex">
                                    <span class="mx-2" *ngFor="let option of question.options.split('|');"
                                        class="form-group custom-form-group">
                                        <input type="checkbox" [id]="option" [value]="option"
                                            (change)="onCheck($event.target.checked, option)">
                                        <label class="pointer mx-1" [for]="option">{{option}}</label>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="question.type === 'radio'">
                                <div class="d-flex">
                                    <span class="mx-2" *ngFor="let option of question.options.split('|');"
                                        class="form-group custom-form-group">
                                        <input type="radio" [id]="option" [value]="option" [(ngModel)]="selectedRadio">
                                        <label class="pointer mx-1" [for]="option">{{option}}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2" *ngIf="!item.hasResponded">
                        <button class="btn btn-sm btn-primary" (click)="onSubmitSurvey(item)"> Submit </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ng-template #noData>
                No surveys found
            </ng-template>
        </div>
    </div>


</div>



<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Survey form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group custom-form-group">
                Survey Name
                <div class="w-100 d-flex justify-content-between">
                    <input type="text" name="surveyName" [(ngModel)]="surveyName" placeholder="Survey name">
                </div>
            </div>

            <div class="form-group custom-form-group">
                Select age range
                <div class="w-100 d-flex justify-content-between">
                    Low Limit <span class="text-info"> {{lowRange}} </span>
                    <input type="range" min="1" max="100" value="20" name="lowRange" [(ngModel)]="lowRange">
                    Upper limit <span class="text-info"> {{highRange}} </span>
                    <input type="range" min="1" max="100" value="20" name="highRange" [(ngModel)]="highRange">
                </div>
            </div>

            <div class="d-flex">
                <span class="mx-2" *ngFor="let item of genders;" class="form-group custom-form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" [value]="item.checked" [checked]="item.checked"
                                (change)="$event.target.checked ? item.checked = true : item.checked = false">{{item.label}}</label>
                    </div>
                    <!-- <input type="checkbox" [id]="item.value" [value]="item.value" name="selectedGenders">
                    <label class="pointer mx-1" [for]="item.value">{{item.label}}</label> -->
                </span>
            </div>

            <div class="d-flex">
                <span>
                    Select date
                    <input type="date" name="expiry" [(ngModel)]="expiry">
                </span>
            </div>

            <div class="d-flex border-bottom d-flex flex-column" *ngIf="addedQuestions.length > 0">
                Added questions.
                <span class="d-flex flex-column bg-secondary text-whiet"
                    *ngFor="let item of addedQuestions;let i = index">
                    Q{{i + 1}}. {{item.question}}
                    <span *ngIf="item.options && item.options.length > 0">
                        <ng-container *ngFor="let option of item.options">
                            <span class="badge"> {{option}} </span>
                        </ng-container>
                    </span>

                </span>
            </div>


            <div class="form-group custom-form-group mt-4">
                <input type="text" class="form-control" placeholder="Type question here" name="question"
                    [(ngModel)]="question">

                <div class="my-1 d-flex"
                    *ngIf="selectedQuestionType === 'radio' || selectedQuestionType === 'checkbox'  ">
                    <div class="d-flex flex-column w-100">
                        <input type="text" class="form-control" placeholder="type option here" name="option"
                            [(ngModel)]="option">
                        <button class="w-25" (click)="onAddOption()"> + </button>
                        <div class="border" *ngIf="optionsArr && optionsArr.length > 0">
                        </div>
                        <div>
                            <span *ngFor="let option of optionsArr" class="badge badge-info mx-2"> {{option}} </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="formgroup my-2">
                <select *ngIf="question.length > 0" (change)="onChange($event.target.value)">
                    <option selected disabled> Select type of question </option>
                    <option *ngFor="let item of questionTypes"> {{item}} </option>
                </select>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" clas="btn btn-sm" [disabled]="question.length === 0" (click)="onAddQuestion()">
                    Add question
                </button>
                <button class="btn btn-primary" [disabled]="getIsDisabled()" (click)="onPublish()">
                    Publish survey
                </button>
            </div>
        </form>
    </div>
</ng-template>