<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5 d-flex flex-column align-content-center">
        <div class="col-md-6 border rounded">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <h2>Login</h2>
                </div>
                <div class="col-md-12">
                    <form [formGroup]="loginForm">
                        
                        <div class="form-group custom-form-group">
                            <i class="fa fa-user inline-icon"></i>
                            <input type="text" class="form-control" formControlName="email" placeholder="email">
                            <p class="text-danger" *ngIf="loginForm.controls['email'].invalid && ( loginForm.controls['email'].dirty ||
                            loginForm.controls['email'].touched)">
                                Please enter valid email</p>
                        </div>
                        <div class="form-group custom-form-group">
                            <i class="fa fa-user inline-icon"></i>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="password">
                            <p class="text-danger" *ngIf="loginForm.controls['password'].invalid && ( loginForm.controls['password'].dirty ||
                            loginForm.controls['password'].touched)">
                                Please enter valid password</p>
                        </div>
                        <div class="d-flex justify-content-end my-2">
                            <button class="btn btn-primary btn-sm" [disabled]="!loginForm.valid" (click)="onLogin()">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a routerLink="../signup" class="primary-bg pointer">Sign up here</a>
        </div>
    </div>
</div>