<router-outlet></router-outlet>

<div class="row pl-4" style="position: fixed; bottom: 0; left: 12; min-width: 300px;">
    <div class="col-12">
        <alert [type]="alertType" *ngIf="successMessage" (close)="successMessage = null">
            {{successMessage}}
        </alert>
    </div>
</div>